<%- include('../partial/header') %>

<div class="container mt-5">
    <div class="justify-content-start">
        <div class="card w-50">
            <div class="card-header">
                Current Weather:
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= temp[0] %>°F</h5>
                <p class="card-text"><%=condition%></p>
                <img src="" alt="">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>


<div id="carouselExample" class="carousel slide container">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-center">
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-center">
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-center">
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<%- include('../partial/footer') %>