<%- include('../partial/header') %>


<div class="container mt-5">
    <div class="justify-content-start">
        <div class="card w-75">
            <div class="card text-bg-dark">
                        <% if (condition == 'Clear' ||condition == 'Sunny') { %>
                            <img src="../../public/images/cards/sunny.jpg" class="card-img" alt="...">
                        <% } else if (condition == 'Cloudy' || condition == 'Overcast') {%>
                            <img src="../../public/images/cards/cloudy.jpg" class="card-img" alt="...">
                        <% } else if (condition == 'Mist' || condition == 'Light drizzle' || condition == 'Moderate or heavy rain shower'|| condition == 'Patchy light drizzle' || condition == 'Light rain' || condition == 'Patchy rain possible' || condition == 'Patchy light rain' || condition == 'Moderate rain' || condition == 'Heavy rain' || condition == 'Light rain shower' || condition == 'Moderate rain at times' || condition == 'Heavy rain at times') {%>
                            <img src="../../public/images/cards/rain.jpg" class="card-img" alt="...">
                        <% } else if (condition == 'Patchy light rain with thunder' || condition == 'Moderate or heavy rain with thunder' || condition == 'Torrential rain shower' || condition == 'Thundery outbreaks possible') {%>
                            <img src="../../public/images/cards/thunderstorm.jpg" class="card-img" alt="...">
                        <% } else if (condition == 'Light snow' || condition == 'Light snow showers' || condition == 'Patchy snow possible' || condition == 'Patchy sleet possible' || condition == 'Freezing drizzle' || condition == 'Moderate or heavy sleet' || condition == 'Patchy light snow' || condition == 'Patchy moderate snow' || condition == 'Light sleet showers' || condition == 'Moderate snow' || condition == 'Light sleet' || condition == 'Heavy freezing drizzle' || condition == 'Patchy freezing drizzle possible' || condition == 'Moderate or heavy sleet showers' || condition == 'Light showers of ice pellets' || condition == 'Moderate or heavy showers of ice pellets' || condition == 'Patchy freezing drizzle possible' || condition == 'Moderate or heavy freezing rain' || condition == 'Ice pellets' || condition == 'Patchy heavy snow' || condition == 'Light freezing rain') {%>
                            <img src="../../public/images/cards/snow.jpg" class="card-img" alt="...">
                        <% } else if (condition == 'Blizzard' || condition == 'Blowing snow' || condition == 'Heavy snow' || condition == 'Patchy light snow with thunder' || condition == 'Moderate or heavy snow showers' || condition == 'Moderate or heavy snow with thunder') {%>
                            <img src="../../public/images/cards/blizzard.jpg" class="card-img" alt="...">
                            <% } else if (condition == 'Partly cloudy') { %>
                                <img src="../../public/images/cards/partlyCloudy.jpg" class="card-img" alt="...">
                        <% } else {%>
                            <img src="../../public/images/cards/windy.jpg" class="card-img" alt="...">
                    <% } %>
                    <!-- <img src="../../public/images/cards/snow.jpg" class="card-img" alt="...">  THIS ONE IS FOR TESTNG -->
                <div class="card-img-overlay">
                    <div class="card-text">
                        <!-- CLEAR -->
                        <% if (condition == 'Clear' ||condition == 'Sunny') { %>
                                <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIcon">
                                <!-- CLOUDY -->
                            <% } else if (condition == 'Cloudy' || condition == 'Overcast') {%>
                                <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIcon">
                                <!-- RAIN -->
                            <% } else if (condition == 'Mist' || condition == 'Light drizzle' || condition == 'Moderate or heavy rain shower'|| condition == 'Patchy light drizzle' || condition == 'Light rain' || condition == 'Patchy rain possible' || condition == 'Patchy light rain' || condition == 'Moderate rain' || condition == 'Heavy rain' || condition == 'Light rain shower' || condition == 'Moderate rain at times' || condition == 'Heavy rain at times') {%>
                                <img src="../../public/images/icons/rain.png" alt="" class="weatherIcon">
                                <!-- THUNDERSTORM -->
                            <% } else if (condition == 'Patchy light rain with thunder' || condition == 'Moderate or heavy rain with thunder' || condition == 'Torrential rain shower' || condition == 'Thundery outbreaks possible') {%>
                                <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIcon">
                                <!-- SNOW -->
                            <% } else if (condition == 'Light snow' || condition == 'Light snow showers' || condition == 'Patchy snow possible' || condition == 'Patchy sleet possible' || condition == 'Freezing drizzle' || condition == 'Moderate or heavy sleet' || condition == 'Patchy light snow' || condition == 'Patchy moderate snow' || condition == 'Light sleet showers' || condition == 'Moderate snow' || condition == 'Light sleet' || condition == 'Heavy freezing drizzle' || condition == 'Patchy freezing drizzle possible' || condition == 'Moderate or heavy sleet showers' || condition == 'Light showers of ice pellets' || condition == 'Moderate or heavy showers of ice pellets' || condition == 'Patchy freezing drizzle possible' || condition == 'Moderate or heavy freezing rain' || condition == 'Ice pellets' || condition == 'Patchy heavy snow' || condition == 'Light freezing rain') {%>
                                <img src="../../public/images/icons/snow.png" alt="" class="weatherIcon">
                                <!-- BLIZZARD -->
                            <% } else if (condition == 'Blizzard' || condition == 'Blowing snow' || condition == 'Heavy snow' || condition == 'Patchy light snow with thunder' || condition == 'Moderate or heavy snow showers' || condition == 'Moderate or heavy snow with thunder') {%>
                                <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIcon">
                                <!-- PARTLY CLOUDY -->
                                <% } else if (condition == 'Partly cloudy') { %>
                                    <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIcon">
                                <!-- WINDY -->
                            <% } else {%>
                                <img src="../../public/images/icons/wind.png" alt="" class="weatherIcon">
                        <% } %>

                    <h5 class="card-title weatherText2 black"><strong><%= temp[0] %>°F</strong></h5>
                    <p class="card-text weatherText black"><strong><%= condition %></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div id="carouselExample" class="carousel slide slider container bcseashell">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container grid text-center" style="--bs-columns: 3;" data-bs-interval="10000">
                <div class="row justify-content-between">
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-between">
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container grid text-center" style="--bs-columns: 3;">
                <div class="row justify-content-between">
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                    <div class="col col-2">
                        Howdy
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<%- include('../partial/footer') %>