<%- include('./partial/header') %>

<div class="col">
  <img src="../public/images/background/lightning.png" class="card-img" alt="..." sizes="auto">
  <div class="row">
      <div class="card-img-overlay">
        <div class="card-text">
          <!-- CLEAR -->
          <% if (hour.condition.text == 'Clear' ||hour.condition.text == 'Sunny') { %>
          <img src="../../public/images/icons/clearDay.png" alt="" class="weatherIconHome">
          <!-- CLOUDY -->
          <% } else if (hour.condition.text == 'Cloudy' || hour.condition.text == 'Overcast') {%>
          <img src="../../public/images/icons/cloudy.png" alt="" class="weatherIconHome">
          <!-- RAIN -->
          <% } else if (hour.condition.text == 'Mist' || hour.condition.text == 'Light drizzle' || hour.condition.text == 'Moderate or heavy rain shower'|| hour.condition.text == 'Patchy light drizzle' || hour.condition.text == 'Light rain' || hour.condition.text == 'Patchy rain possible' || hour.condition.text == 'Patchy light rain' || hour.condition.text == 'Moderate rain' || hour.condition.text == 'Heavy rain' || hour.condition.text == 'Light rain shower' || hour.condition.text == 'Moderate rain at times' || hour.condition.text == 'Heavy rain at times') {%>
          <img src="../../public/images/icons/rain.png" alt="" class="weatherIconHome">
          <!-- THUNDERSTORM -->
          <% } else if (hour.condition.text == 'Patchy light rain with thunder' || hour.condition.text == 'Moderate or heavy rain with thunder' || hour.condition.text == 'Torrential rain shower' || hour.condition.text == 'Thundery outbreaks possible') {%>
          <img src="../../public/images/icons/severeThunderstorm.png" alt="" class="weatherIconHome">
          <!-- SNOW -->
          <% } else if (hour.condition.text == 'Light snow' || hour.condition.text == 'Light snow showers' || hour.condition.text == 'Patchy snow possible' || hour.condition.text == 'Patchy sleet possible' || hour.condition.text == 'Freezing drizzle' || hour.condition.text == 'Moderate or heavy sleet' || hour.condition.text == 'Patchy light snow' || hour.condition.text == 'Patchy moderate snow' || hour.condition.text == 'Light sleet showers' || hour.condition.text == 'Moderate snow' || hour.condition.text == 'Light sleet' || hour.condition.text == 'Heavy freezing drizzle' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy sleet showers' || hour.condition.text == 'Light showers of ice pellets' || hour.condition.text == 'Moderate or heavy showers of ice pellets' || hour.condition.text == 'Patchy freezing drizzle possible' || hour.condition.text == 'Moderate or heavy freezing rain' || hour.condition.text == 'Ice pellets' || hour.condition.text == 'Patchy heavy snow' || hour.condition.text == 'Light freezing rain') {%>
          <img src="../../public/images/icons/snow.png" alt="" class="weatherIconHome">
          <!-- BLIZZARD -->
          <% } else if (hour.condition.text == 'Blizzard' || hour.condition.text == 'Blowing snow' || hour.condition.text == 'Heavy snow' || hour.condition.text == 'Patchy light snow with thunder' || hour.condition.text == 'Moderate or heavy snow showers' || hour.condition.text == 'Moderate or heavy snow with thunder') {%>
          <img src="../../public/images/icons/blizzard.png" alt="" class="weatherIconHome">
          <!-- PARTLY CLOUDY -->
          <% } else if (hour.condition.text == 'Partly cloudy') { %>
          <img src="../../public/images/icons/partlyCloudyDay.png" alt="" class="weatherIconHome">
          <!-- WINDY -->
          <% } else {%>
          <img src="../../public/images/icons/wind.png" alt="" class="weatherIconHome">
          <% } %>
          <h4 class="card-text conditionHome black"><%= hour.condition.text %></h4>
          <h2 class="card-title tempHome black"><strong><%= hour.temp_f %>°F</strong></h2>
        </div>
      </div>
  </div>
</div>



<div class="container column" style="height:100%;">
  <div class="row" style="height:100%">
      <div id="map" class="map"></div>

      <div class="card w-25 featured">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
</div>



<div>
  <img src="../public/images/background/gradient light blue.jpg" class="bg">
</div>

<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyANtLR5ZVcSDGk3iTqHu9LYNQlNjs90Qzw",
    v: "weekly",
  });
</script>

<%- include('./partial/footer') %>