<%- include('./partial/header') %>

<div class="col">
  <img src="../public/images/home/space.jpg" class="card-img" alt="..." size="auto">
  <div class="row">
      <div class="card-img-overlay">
          <form class="d-flex search container" role="search">
            <input class="form-control me-2" type="search" placeholder="Zip code" aria-label="Search">
            <button class="btn btn-outline btnBackground" type="submit">Search</button>
        </form>
      </div>
  </div>
</div>



<div class="column" style="height:100%;">
  <div class="row">

    <div class="card instructions">
      <h5 class="card-header">Google Maps</h5>
    <div class="card-body">
      <h5 class="card-title">Find the weather from a map!</h5>
      <p class="card-text">Simply click or search to find the forcast</p>
    </div>
  </div>

  <div class="row" style="height:100%">
    
    <div id="map" class="map"></div>
    
    <div class="card w-25 text-center featured">
      <div class="card-header"><strong>Saved places</strong></div>
      <div class="card-body">
        <h6 class="card-title">See the forcast at all of your favorite places!</h6>
      </div>
      <a href="#" class="btn btn-primary">Let's go</a>
    </div>
    
    
  <div class="row">
    <table class="popFocrasts">
      <tr>
        <td>Denver</td>
        <td>Houston</td>
      </tr>
      <tr>
        <td>Washington</td>
        <td>Los Angeles</td>
      </tr>
      <tr>
        <td>Mexico City</td>
        <td>Paris</td>
      </tr>
      <tr>
        <td>France</td>
        <td>Corpus CHristi</td>
      </tr>
      <tr>
        <td>Hawaii</td>
        <td>Taco Bell</td>
      </tr>
    </table>
  </div>

  </div>
</div>

<div>
  <img src="../public/images/background/gradient light blue.jpg" class="bg">
</div>

<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyANtLR5ZVcSDGk3iTqHu9LYNQlNjs90Qzw",
    v: "weekly",
  });
</script>

<%- include('./partial/footer') %>