

<nav class="navbar navbar-expand-lg navFront" style="background-color: #95b8d1">
    <div class="container-fluid">
        <a class="navbar-brand navIcon" href="/">
            <img src="../../public/images/nav/day.svg" alt="Bootstrap" width="50vh" >
            <strong>Weather</strong>
        </a>
        <% if (loggedIn) {%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            </ul>
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="/users/logout"><h7>Log Out</h7></a>
            </div>
        </div>


        <%} else {%>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                </ul>
                <div class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/users/login"><h7>Login</h7></a>
                </div>
            </div>
            <% } %>
    </div>
</nav>