<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand me-3">Home</a>
            <a href="/" class="nav-link text-warning me-3">Hello 'USER'</a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse me-3">
                <a href="/weather/daily" class="nav-link text-light me-3">Daily</a>
                <a href="/weather/weekly" class="nav-link text-light me-3">Weekly</a>
                <a href="/users/login" class="nav-link text-light me-3">Log In</a>
        </div>
    </div>
</nav>