

<nav class="navbar navbar-expand-lg" style="background-color: #95b8d1">
    <div class="container-fluid">
        <a class="navbar-brand navIcon" href="/">
            <img src="../../public/images/nav/day.svg" alt="Bootstrap" width="50vh" >
            <strong>Weather</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Link
                </a>
                <ul class="dropdown-menu">
                    <a href="/weather/daily" class="nav-link">Daily</a>
                    <a href="/weather/weekly" class="nav-link">Weekly</a>
                    <li><hr class="dropdown-divider"></li>
                    <a href="/users/login" class="nav-link">Log In</a>
                </ul>
            </li>
            </ul>
            <div><h7><strong>Login</strong></h7></div>
        </div>
    </div>
</nav>