<%- include('../partial/header') %>

    <img src="../public/images/home/space3.jpg" class="card-img bg1" size="auto">
    <div class="container mt-4">
        <div class="container-md">
            <h2>Are you sure you would like to log out?</h2>
            <div class="btn-group">
                <a href="/" class="btn btn-outline-secondary">No, take me back</a>
                <form action="/users/logout?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-outline-danger me-3" value="Yes, log me out">
                </form>
            </div>
        </div>
    </div>
<div>
    <img src="../../public/images/background/gradient multicolor.jpg" class="bg">
</div>

<%- include('../partial/footer') %>